@import 'nib'

vendor-prefixes ?= webkit moz official

@font-face
	font-family: "Cantarell";
	src: url('../fonts/cantarell/cantarell.eot');
	src: url('../fonts/cantarell/cantarell.eot?=btf') format("embedded-opentype"),
		 url('../fonts/cantarell/cantarell.woff') format('woff'),
		 url('../fonts/cantarell/cantarell.ttf') format('truetype'),
		 url('../fonts/cantarell/cantarell.svg#Cantarell-Regular') format('svg');
@font-face
	font-family  "Cantarell-bold";
	src: url("../fonts/cantarell/cantarell-bold.eot");
	src: url("../fonts/cantarell/cantarell-bold.eot?=btf") format("embedded-opentype"),
		 url("../fonts/cantarell/cantarell-bold.woff") format("woff"),
		 url("../fonts/cantarell/cantarell-bold.ttf") format("truetype"),
		 url("../fonts/cantarell/cantarell-bold.svg#Cantarell-Bold") format("svg");

// F U N C T I O N S //

bgcolor(n)
	background n
	&:hover
		background lighten(n,8%)
	&:active
		background darken(n,8%)
link(n)
	color n
	&:hover
		color lighten(n,10%)
	&:active
		color darken(n,10%)

gris = #1a1a1a
links = #3CE7BD
dark-link = #43cdab
t-white = rgba(255, 255, 255, .1)

*::-webkit-scrollbar
	width 6px
	background-color #CCC
	&-track
		background-color transparent
	&-thumb
		background-color gris
		border-radius 12px

// S T Y L E S //

*
	border 0
	margin 0
	padding 0

// A //

// B //
body
	background url('../img/1.jpg') no-repeat center center fixed
	-webkit-background-size cover
	-moz-background-size cover
	-o-background-size cover
	background-size cover
	font-family 'Cantarell'
	text-rendering optimizeLegibility
	a
		link(links)
		text-decoration none

.btns
	font-size .7em
	text-align center
	.btn
		color white
		display inline-block
		font-style italic
		letter-spacing 3px
		padding 20px 25px
		text-transform uppercase
		width 70%
		&-green
			bgcolor(links)
			border none
			box-shadow 0px 5px 0px dark-link
			
.bottom
	&-10
		margin-bottom 10px
	&-20
		margin-bottom 20px
	&-30
		margin-bottom 30px
	&-40
		margin-bottom 40px
	&-50
		margin-bottom 50px
	&-60
		margin-bottom 60px
	&-70
		margin-bottom 70px
	&-80
		margin-bottom 80px
	&-90
		margin-bottom 90px
	&-100
		margin-bottom 100px
	&-110
		margin-bottom 110px
	&-120
		margin-bottom 120px
	&-130
		margin-bottom 130px
	&-140
		margin-bottom 140px
	&-150
		margin-bottom 150px
	&-160
		margin-bottom 160px
	&-170
		margin-bottom 170px
	&-180
		margin-bottom 180px
	&-190
		margin-bottom 190px
	&-200
		margin-bottom 200px
		
.blur
	-webkit-background-size cover
	-moz-background-size cover
	-o-background-size cover
	background-size cover


// C //	
.container
	margin 0 auto
	position relative
	width 90%
	&-r
		margin 0 auto
		position relative
		max-width 1000px

.comments
	background white
	margin 0 auto
	padding 27px
	text-align center


// D //
// E //
// F //
footer
	color white
	font-size .8em
	letter-spacing 10px
	padding 80px
	text-align center
	text-transform uppercase
	text-shadow 1px 1px 0px #333

// G //
// H //
// I //
// J //
// k //

// L //
.logo
	background url('../img/logo.png') no-repeat center center
	background-size contain
	height 170px
	margin 0 auto
	width auto
	&:before
		content ''
		background white
		height 3px
		left 10%
		position absolute
		top 140px
		width 15%
	&:after
		content ''
		background white
		height 3px
		position absolute
		right 10%
		top 140px
		width 15%


// M //
// N //
// O //
.out
	display none

// P //
// Q //
// R //
.rest
	overflow auto

// S //
// T //
.top
	&-10
		margin-top 10px
	&-20
		margin-top 20px
	&-30
		margin-top 30px
	&-40
		margin-top 40px
	&-50
		margin-top 50px
	&-60
		margin-top 60px
	&-70
		margin-top 70px
	&-80
		margin-top 80px
	&-90
		margin-top 90px
	&-100
		margin-top 100px
	&-110
		margin-top 110px
	&-120
		margin-top 120px
	&-130
		margin-top 130px
	&-140
		margin-top 140px
	&-150
		margin-top 150px
	&-160
		margin-top 160px
	&-170
		margin-top 170px
	&-180
		margin-top 180px
	&-190
		margin-top 190px
	&-200
		margin-top 200px

// U //
// V //
.vid
	background white
	left 0
	padding 10px
	position relative
	right 0
.video-container
	height 0
	overflow hidden
	padding-bottom 56.25%
	position relative
	iframe, video, object, embed
		position absolute
		top 0
		left 0
		width 100%
		height 100%
.v-title
	h2
		font-weight normal
		letter-spacing 15px
		padding 20px
		text-align center
		text-transform uppercase

// W //
.welcome_logo
	padding 20px
	position relative
	top 0

// X //
// Y //
// Z //