@font-face
	font-family  'Cantarell' 
	src  url('../fonts/cantarell/cantarell.eot') 
	src  url('../fonts/cantarell/cantarell.eot?=btf') format("embedded-opentype"),
		 url('../fonts/cantarell/cantarell.woff') format('woff'),
		 url('../fonts/cantarell/cantarell.ttf') format('truetype'),
		 url('../fonts/cantarell/cantarell.svg#Cantarell-Regular') format('svg')
@font-face
	font-family  'Cantarell-bold' 
	src  url('../fonts/cantarell/cantarell-bold.eot') 
	src  url('../fonts/cantarell/cantarell-bold.eot?=btf') format("embedded-opentype"),
		 url('../fonts/cantarell/cantarell-bold.woff') format('woff'),
		 url('../fonts/cantarell/cantarell-bold.ttf') format('truetype'),
		 url('../fonts/cantarell/cantarell-bold.svg#Cantarell-Bold') format('svg')

// F U N C T I O N S //

@import 'nib'
//@import url('http://fonts.googleapis.com/css?family=Cantarell:400,400italic');

vendor-prefixes ?= webkit moz official

bgcolor(n)
	background n
	&:hover
		background lighten(n,8%)
	&:active
		background darken(n,8%)
link(n)
	color n
	&:hover
		color lighten(n,10%)
	&:active
		color darken(n,10%)

gris = #1a1a1a
links = #e74c3c
t-white = rgba(255, 255, 255, .1)

// S T Y L E S //

// A //

// B //
body
	background-color gris
	background-image url('../img/background.gif')
	background-origin content-box
	background-position-x center
	background-repeat no-repeat
	font-family 'Cantarell'
	overflow hidden
	a
		link(links)
		text-decoration none

.btns
	font-size .7em
	text-align center
	.btn
		bgcolor(t-white)
		border 1px solid white
		border-radius 3px 
		box-shadow 0px 3px 0px white
		color white
		display inline-block
		font-style italic
		letter-spacing 3px
		margin 10px
		padding 20px 25px
		text-transform uppercase
		width 70%
		&-green
			bgcolor(links)

// C //	
.container
	margin 0 auto
	position relative
	width 90%

.comments
	margin 0 auto
	text-align center
	width 70%
.creditos
	background t-white
	color white
	font-size .7em
	font-style italic
	letter-spacing 1px
	padding 10px 15px
	position absolute
	right 0
	text-align right
	text-transform uppercase
	top 94.5%
	&:after
		position absolute
		right 100%
		content ""
		border-right 11px solid t-white
		border-top 35px solid transparent
		bottom 0

// D //
// E //
// F //
// G //
// H //
// I //
// J //
// k //

// L //
.logo
	background url('../img/logo.png') no-repeat center center
	background-size contain
	height 150px
	margin 0 auto
	margin-top 60px
	width 150px
	&:before
		content ''
		background white
		height 3px
		left 10%
		position absolute
		top 140px
		width 20%
	&:after
		content ''
		background white
		height 3px
		position absolute
		right 10%
		top 140px
		width 20%

// M //
// N //
// O //
.out
	display none

// P //
// Q //
// R //
// S //

// T //
.top
	&-10
		margin-top 10px
	&-20
		margin-top 20px
	&-30
		margin-top 30px
	&-40
		margin-top 40px
	&-50
		margin-top 50px
	&-60
		margin-top 60px
	&-70
		margin-top 70px
	&-80
		margin-top 80px
	&-90
		margin-top 90px
	&-100
		margin-top 100px
	&-110
		margin-top 110px
	&-120
		margin-top 120px
	&-130
		margin-top 130px
	&-140
		margin-top 140px
	&-150
		margin-top 150px
	&-160
		margin-top 160px
	&-170
		margin-top 170px
	&-180
		margin-top 180px
	&-190
		margin-top 190px
	&-200
		margin-top 200px

// U //
// V //
// W //


// X //
// Y //
// Z //