@import 'nib'

vendor-prefixes ?= webkit moz official

@font-face
	font-family: "Cantarell";
	src: url('../fonts/cantarell/cantarell.eot');
	src: url('../fonts/cantarell/cantarell.eot?=btf') format("embedded-opentype"),
		 url('../fonts/cantarell/cantarell.woff') format('woff'),
		 url('../fonts/cantarell/cantarell.ttf') format('truetype'),
		 url('../fonts/cantarell/cantarell.svg#Cantarell-Regular') format('svg');
@font-face
	font-family  "Cantarell-bold";
	src: url("../fonts/cantarell/cantarell-bold.eot");
	src: url("../fonts/cantarell/cantarell-bold.eot?=btf") format("embedded-opentype"),
		 url("../fonts/cantarell/cantarell-bold.woff") format("woff"),
		 url("../fonts/cantarell/cantarell-bold.ttf") format("truetype"),
		 url("../fonts/cantarell/cantarell-bold.svg#Cantarell-Bold") format("svg");

// F U N C T I O N S //

bgcolor(n)
	background n
	&:hover
		background lighten(n,10%)
	&:active
		background darken(n,10%)
link(n)
	color n
	&:hover
		color lighten(n,10%)
	&:active
		color darken(n,10%)

gris = #1a1a1a
links = #3CE7BD
dark-link = #43cdab
verde = #5cbf9c
t-white = rgba(255, 255, 255, .1)
t-black = rgba(0,0,0,0.6)
rojo = #FF4E50
dark-rojo = #e34445

*::-webkit-scrollbar
	background-color t-black
	width 6px
	&-track
		background-color t-black
	&-thumb
		background-color rojo

// S T Y L E S //

*
	border 0
	margin 0
	padding 0

// A //

// B //
body
	font-family 'Cantarell'
	text-rendering optimizeLegibility
	a
		link(rojo)
		text-decoration none

.btns
	font-size .7em
	text-align center
	.btn
		color white
		display inline-block
		letter-spacing 5px
		padding 20px 25px
		text-transform uppercase
		width 80%
		&-rojo
			bgcolor(rojo)
			border none
			box-shadow 0px 5px 0px dark-rojo
		
			
.bottom
	&-10
		margin-bottom 10px !important
	&-20
		margin-bottom 20px !important
	&-30
		margin-bottom 30px !important
	&-40
		margin-bottom 40px !important
	&-50
		margin-bottom 50px !important
	&-60
		margin-bottom 60px !important
	&-70
		margin-bottom 70px !important
	&-80
		margin-bottom 80px !important
	&-90
		margin-bottom 90px !important
	&-100
		margin-bottom 100px !important
	&-110
		margin-bottom 110px !important
	&-120
		margin-bottom 120px !important
	&-130
		margin-bottom 130px !important
	&-140
		margin-bottom 140px !important
	&-150
		margin-bottom 150px !important
	&-160
		margin-bottom 160px !important
	&-170
		margin-bottom 170px !important
	&-180
		margin-bottom 180px !important
	&-190
		margin-bottom 190px !important
	&-200
		margin-bottom 200px !important
		
// C //	
.category
	height 50px
	margin 0 10px
	padding 27px 38px
	position relative
	width 0
	&_desktop
		background no-repeat url('../img/desk_web_mob.png') 0px
	&_web
		background no-repeat url('../img/desk_web_mob.png') -84px
	&_mobile
		background no-repeat url('../img/desk_web_mob.png') -168px

.container
	margin 0 auto
	position relative
	width 90%
	&-r
		margin 0 auto
		position relative
		max-width 1000px

.comments
	background white
	margin 0 auto
	padding 27px
	text-align center

.c-title 
	background t-black
	text-align center
	position relative
	overflow auto
	h2 
		color white
		font-size 1.3em
		font-weight lighter
		letter-spacing 20px
		padding 60px
		text-transform uppercase

// D //
// E //
// F //
footer
	background t-black
	color white
	font-size .8em
	letter-spacing 10px
	padding 80px
	text-align center
	text-transform uppercase
	text-shadow 1px 1px 0px #333

// G //
// H //
// I //
.info_block
	position relative
	overflow auto
	h3
		border-bottom 1px solid white
		color white
		letter-spacing 10px
		padding-bottom 10px
		text-transform uppercase
	p
		color white
		padding 20px
		text-align left
	.category
		margin 0 auto

// J //
// k //

// L //
.linkToCourse
	letter-spacing 10px
	position relative
	text-align center
	text-transform uppercase

.logo
	background url('../img/logo.png') no-repeat center center
	background-size contain
	height 170px
	margin 0 auto
	width auto
	&:before
		content ''
		background white
		height 3px
		left 10%
		position absolute
		top 140px
		width 15%
	&:after
		content ''
		background white
		height 3px
		position absolute
		right 10%
		top 140px
		width 15%


// M //
// N //
nav
	padding-bottom 50px
	position relative
	
// O //
.out
	display none

// P //
// Q //
// R //
.rest
	overflow auto

// S //
// T //
.top
	&-10
		margin-top 10px !important
	&-20
		margin-top 20px !important
	&-30
		margin-top 30px !important
	&-40
		margin-top 40px !important
	&-50
		margin-top 50px !important
	&-60
		margin-top 60px !important
	&-70
		margin-top 70px !important
	&-80
		margin-top 80px !important
	&-90
		margin-top 90px !important
	&-100
		margin-top 100px !important
	&-110
		margin-top 110px !important
	&-120
		margin-top 120px !important
	&-130
		margin-top 130px !important
	&-140
		margin-top 140px !important
	&-150
		margin-top 150px !important
	&-160
		margin-top 160px !important
	&-170
		margin-top 170px !important
	&-180
		margin-top 180px !important
	&-190
		margin-top 190px !important
	&-200
		margin-top 200px !important

// U //
// V //
.vid
	background t-black
	color white
	left 0
	position relative
	right 0
.video-container
	background rojo
	height 0
	overflow hidden
	padding-bottom 56.25%
	position relative
	iframe, video, object, embed
		position absolute
		top 0
		left 0
		width 100%
		height 100%
.v-title
	color white
	h2,h3
		font-weight normal
		letter-spacing 15px
		padding 30px 5px 30px 5px
		text-align center
		text-transform uppercase

// W //
.welcome_logo
	padding 20px
	position relative
	top 0

// X //
// Y //
// Z //